body {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly; 
    align-items: center;
    width: 300vh;
}

#timer_holder {
    width: 5vh;
}

#score_holder {
    width: 5vh;
}

#high_score_holder {
    width: 5vh;
}

#main_screen {
    border: solid 2px gray;
    margin: 5vh 20vh 5vh 20vh;
    padding: 10vh;
    box-shadow: 10px 5px 5px darkgrey;
}

#splash_screen {
    margin: 25vh;
}

#question_screen {
    /*display: none;*/
    margin: 10vh;
}

#answer_holder {
    /*display: none;*/
    justify-content: center;
    flex-direction: column;
    margin-left: 50vh;
    margin-right: 50vh; 
}

.answerBtn {
    margin: 10px;
    padding: 15px;
    background-color: purple;
    color: white;
}
