body {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly; 
    align-items: center;
    width: 300px;
}

#timer_holder {
    width: 60px;
}

#start_quiz {
    width: 80px;
    background-color: purple;
    color: white;
}

#score_holder {
    width: 60px;
}

#high_score_holder {
    width: 60px;
}

/*version 1 used 'vh' to size certain elements which caused issues on mobile screens, changed to px which should look better on mobile*/
#main_screen {
    border: solid 2px gray;
    margin: 5px 20px 5px 20px;
    padding: 10px;
    box-shadow: 10px 5px 5px darkgrey;
}

#splash_screen {
    margin: 25vh;
}

#question_screen {
    /*display: none;*/
    margin: 10vh;
}

#answer_holder {
    /*display: none;*/
    justify-content: center;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px; 
}

.answerBtn {
    margin: 10px;
    padding: 30px;
    background-color: purple;
    color: white;
}

#play_again {
    width: 80px;
    background-color: purple;
    color: white;
}
